
<div class="container">
  <div class="row">
    <!-- Formulario Nuevo producto -->
    <form #prodForm="ngForm" (ngSubmit)="onSaveProduct(prodForm)" class="form-signin col-lg-8 justify-content-center mt-4">
      <input 
      type="hidden"
      #id="ngModel" 
      [(ngModel)]="this.prodService.selectedProd.id" 
      name="id" 
      >
      <h1 class="h3 mb-3 font-weight-normal">
        {{ !this.prodService.selectedProd.id ? "New Product" : "Update Product" }}
      </h1>
      <div class="form-group">
        <label for="title" class="sr-only" >Title</label>
        <input 
            class="form-control" 
            placeholder="Title product" 
            required 
            autofocus="" 
            type="text" 
            #title="ngModel" 
            [(ngModel)]="this.prodService.selectedProd.title" 
            name="title" 
            >
      </div>

      <div class="img-prod-container">
        <input 
        type="file" 
        accept="image/gif, image/jpeg, image/png" 
        (change)="fileChangeEvent($event)" />
      </div>

      <div class="form-group">
        <label for="description" class="sr-only" >description</label>
        <textarea 
            class="form-control" 
            placeholder="Description" 
            required 
            autofocus="" 
            type="text" 
            #description="ngModel" 
            [(ngModel)]="this.prodService.selectedProd.description" 
            name="description" 
            rows="4"
            ></textarea>
      </div>

      <div class="form-group">
          <label for="price" class="sr-only" >Price</label>
          <input 
              class="form-control" 
              placeholder="Price" 
              required 
              autofocus="" 
              type="number" 
              #price="ngModel" 
              [(ngModel)]="this.prodService.selectedProd.price" 
              name="price" 
              >
      </div>

      <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
  </div>
</div>