<div class="container mt-5">
  <div class="row">
    <div class="col-10 mb-2" *ngFor="let prod of products">
      <div class="media">
        <img src="https://dummyimage.com/300x175/eee/8f8f8f" class="mr-3" alt="Product" *ngIf="!prod.image">
        <!-- ng-src="/api/containers/news-imgs/download/smallpic.png"  -->
        <img src="http://localhost:3000/api/containers/products/download/{{prod.image}}" class="mr-3" alt="Product" *ngIf="prod.image">
        <div class="media-body">
          <h5 class="mt-0 p-title">{{prod.title}}</h5><br>
          <p class="p-text">{{prod.description}}</p>
          <div class="col-lg-12">
            <div class="p-ext d-inline mr-4 float-left" *ngFor="let extra of prod.extras">
              <span class="badge badge-pill badge-light">{{ extra }}</span>
            </div>
            <div class="float-right d-inline ml-2">
              {{prod.price}} Ƀ
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2 mt-0">

    </div>
  </div>
</div>
