<!-- Seccion errores-->
<div class="alert alert-danger" role="alert" *ngIf="isError">
  Credenciales incorrectas
</div>
<!-- Formulario Login -->
<form #formLogin="ngForm" (ngSubmit)="onLogin(formLogin)" class="form-signin col-lg-8 justify-content-center">
<img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
<h1 class="h3 mb-3 font-weight-normal">{{title}}</h1>
<label for="inputEmail" class="sr-only" >Email address</label>
<input id="inputEmail" class="form-control" placeholder="Email address" required autofocus="" type="email" #email="ngModel" [(ngModel)]="user.email" name="email" [ngModelOptions]="{standalone: true}">
<label for="inputPassword" class="sr-only">Password</label>
<input id="inputPassword" class="form-control" placeholder="Password" required type="password" #password="ngModel" [(ngModel)]="user.password" password="password" [ngModelOptions]="{standalone: true}">
<!-- <div class="checkbox mb-3">
  <label>
    <input value="remember-me" type="checkbox"> Remember me
  </label>
</div> -->
<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
